<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Edit Blog:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="blog-name">Blog Title:</label>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
    
      <div class="form-group">
        <label for="blog-desc">description:</label>
        <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>

  

 
</div>

<script src="./js/editpost.js"></script>

